{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 160,
  "semi": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
