@import '../global.less';

.main_layout {
    height: 100%;
}

.header {
    padding: 0 16px;
    height: @header-height;
    line-height: @header-height;
    width: 100%;
}

.header_right {
    float: right;
    overflow: hidden;
}

.logo {
    img {
        height: @header-height;
        float: left;
        font-size: 18px;
        line-height: @header-height;
    }
}
